{% extends 'classroom/index.html.twig' %}

{% block title %}liste des classes{% endblock %}

{% block body %}

<h1 class="center">TABLEAU  </h1>
		<br> 
		<br>
		<br>
		<br>
<div class='center'>
	<table>
		<thead>
			<tr>
			<th>Id </th>
				<th>Name</th>
				<th>Description</th>
				
            
				
			</tr>
		</thead>
		<tbody>

		{% for item in Classroom %}
			<tr>
<td>
					{{item.id}}
				</td>
				<td>
					{{item.Name}}
				</td>
				<td>
					{{item.Description}}
				</td>
				
				<td>
				
					<button>   <a href="{{path("app_delete",{"id":item.id}) }}">Delete</a></button>

					

					<button>   <a href="{{path("app_update",{"id":item.id})}}">Update</a></button>
   
				</td>
				

			</tr>
		{% endfor %}


	</tbody>
</table>

</div>
<br>
<br>
<br>
<br>
<div class="center"><button ><a href="{{ path('add') }}" >A J O U T E R </a></button></div>


{% endblock %}
